@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100 align-bottom" >
    <p>Welcome to</p>
    <span style="font-family: 'Press Start 2p', cursive">The <span class="text-info">Internet</span><span class="text-success"> Games</span> <span class="text-warning">Database</span></span>
</div>
