@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center" style="height:25vh" >
    <p class="fs-3">Welcome to</p>
    <span class="fs-1" style="font-family: 'Press Start 2p', cursive">The <span class="text-info">Internet</span><span class="text-success"> Games</span> <span class="text-warning">Database</span></span>
</div>
